$MAIN_BLUE: #0B3C81;
$TITLE: #0B3C81;
$SUBTITLE: #7da1d5;
$MAIN_YELLOW: #FAE600;
$ACCENT_BLUE: #00CAF7;
$HEADER: #153a58;
$INACTIVE: #949494;
$ACTION: #cb493c;
$ACTIVE: #77B800;
$DELETE: #C00000;
$BACKGROUND: #FBFBFB;

$pointSize: 4px;
$bgColor: rgba(40, 43, 52, 0.25);

.pointillism {
   img {
       @extend %spread;
       object-fit: cover;
   }
   &:after {
       @extend %spread;
       content: '';
       background-size: $pointSize $pointSize;
       background-position: center center;
       background-repeat: repeat;
       background-image: radial-gradient(
            rgba($bgColor, 0),
            rgba($bgColor, 1) 80%,
            rgba($bgColor, 1)
       );
   }
}

%spread {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
// src: url('../assets/fonts/babes-neue/BebasNeue.woff');
// src: url('../assets/fonts/babes-neue/BebasNeue-Regular.otf');
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
}
h2 {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
}
p {
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-family: 'Bebas Neue', 'Arial', 'Anton', sans-serif;
  font-weight: bold;
}

// @media (min-width: 700px) and (orientation: landscape) {
//  }

.dropShadow {
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.5);
}
.title {
  font-size: 4em;
  color: white;
  font-family: 'Times New Roman', serif;
}
.subTitle {
  font-size: 1.1em;
  line-height: .2em;
  font-weight: 100;
  color: white
}
.sectionHead {
  flex: 1;
  width: 100vw;
  height: 4em;
  background-color: $MAIN_BLUE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backBtn {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $MAIN_BLUE solid;
}
.formHeading {
  font-size: 3em;
  color: white;
  font-weight: bold;
}

//home
.logo {
  margin: 10px;
  width: 10em;
}
.logoSm {
  margin: 10px;
  width: 10em;
}
.fs_dim {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
}
.bgImageContainer {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.homeBGImage {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-size: contain;
}
.startBtn {
  margin: 30px;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  background-color: $MAIN_BLUE;
}
.transportBtn {
  margin: 30px;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  background-color: $MAIN_BLUE;
}

//form
.formQustion {
  margin: 10px;
  font-family: 'Helvetica', arial, sans-serif;
  font-weight: 100;
}
.acuityDropdown {
  width: 30vw;
  height: 60px;
  font-size: 1em;
}
.acuityScore {
  font-size: 6em;
}
.acuityScoreText {
  font-size: 1.5em;
}
.specializationText {
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: 100;
}

.specDescText {
  font-size: 2em;
}
.transportInput {
  width: 20vw;
  height: 40px;
  font-size: 1em;
}
.transportScore {
  font-size: 6em;
  font-weight: bold;
}
.btnContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transportName {
  font-size: 3em;
  font-weight: 100;
}

@media (max-width: 700px) {
  p {
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-family: 'Bebas Neue', 'Arial', 'Anton', sans-serif;
    font-weight: 100;
  }
  .formHeading {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
  }
  .acuityDropdown {
    width: 30vw;
    height: 60px;
    font-size: 1em;
  }
  .logoSm {
    margin: 10px;
    width: 6em;
  }
  .transportName {
    font-size: 1em;
  }
  .transportScore {
    font-size: 3em;
    font-weight: bold;
  }
  .sectionHead {
    flex: 1;
    width: 100vw;
    height: 3em;
    background-color: $MAIN_BLUE;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 }
:export {
  MAIN_BLUE: $MAIN_BLUE;
  ACCENT_BLUE: $ACCENT_BLUE;
  HEADER: $HEADER;
  MAIN_YELLOW: $MAIN_YELLOW;
  INACTIVE: $INACTIVE;
  ACTIVE: $ACTIVE;
  DELETE: $DELETE;
  BACKGROUND: $BACKGROUND
}
